    
    :root
    {--gradient: linear-gradient(
        45deg,
        #763e47,
        #da9770,  
        #ffbe98,
        #e8c8b4, 
        #c6c09c,
        #e8c8b4,
        #ffbe98,
        #f48053,
        #a73328);}
    main
    {background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 7s infinite alternate;}
    
    @keyframes bg-animation
    { 0% {background-position: left;}
    100% {background-position: right;}}
    
    h1{color: #1e1e1e;
    padding-bottom:0em;
font-size: 50px;}

h4{color: #1e1e1e;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}

    h6{position:relative;
        font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
            margin: 2em;}