
*{margin: 0;
    padding: 0;
    }
    
    /*general rules*/
    h1
    {   Font-family: "Rubik Moonrocks";
        font-weight: 400;
        font-size: 45px;
        color: #1E1E1E;
        padding: 1em;}
    h3
    {   font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        color: #1E1E1E;}
    h4
    {   font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        margin: 2em;
        margin-top: .5em;
        margin-bottom: 1em;}
    .button
    {  font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        Font-size: 16px;
        background-color: #ba6b32;
        color: #f5e5d4;
        margin-right: 1em;
        height: 35px;
        padding: .3rem;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 2rem;}
    a
    {   color: #f5e5d4;
        text-decoration: none;}
    .button:hover
    {   color: #1E1E1E;
        background-color: #c6c09c;}
    .card
    {text-align: center;}
    main
    {background-color: #f5e5d4;}
    .card-title
    {text-align: center;
        margin-top: 2em;}
    .bold-line
    {   font-weight:900;}
    
    /*header section*/
    .nav
    {   float:right;
        position: sticky;}
    header
    { padding: 0;
    background-color: #c6c09c;}

    .header-logo
    {height: 5em;
    padding: .5em;}
    
   
    
    .intro
    {   
        display: grid;
        grid-template-columns: 50% 50%;}
    
    .para
    {padding-right: 1.5em;}
    .image
    {display: block;
    margin: auto;
    margin-bottom:2em;}
    
    .social
    {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 1em;}
    /*Into sentence*/
    
    
    /* cards section*/
    .CB
    {height: 15em}
    .DDR
    {height: 15em}
    .AIGA
    {height: 15em;}
    .cards
    {   display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 1em;
        padding-top: .2em;}

        .cards{
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
    
    /*footer*/
    footer
    {   padding: 5em;
    background-color: #c6c09c;
    text-emphasis-color:#c6c09c}
    .insta
    {   font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    color: #ba6b32;
    }
         
        
        /*header section*/
        .nav
        {   float:right;
            margin-top: 45px;
            margin-bottom: 0px;
        }
        header
        { padding: 1em;
            padding-bottom: 0em;
        background-color: #c6c09c;}

        
        /*hero section*/
        .hero{
            text-align:center;
            padding: 2.5em;
            background-image: url("./images/background-hero.jpg");
            background-size:125rem ;
            background-repeat: no-repeat;
            background-position: center;
            color: #1e1e1e;
            Font-family: "Rubik Moonrocks";
            font-weight: 400;
            font-size: 4rem;
            position: sticky;
        }
        
        
        
        video
        {display: block;
        margin: auto;}
        .video
        {display: block;
        margin:auto;
        margin-top:1em;}
        .autoplay-mov
        { padding:1em;} 

        .news-title{
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-size: 1em;
            color: #1E1E1E;
        }

        .news-description{
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 1em;
            color: #1E1E1E;
        }

     li{list-style: none;}

        /*media queries*/
        @media (max-width:430px){
            .intropic{
                display: block;
            height: 300px;
        margin: 3em;}

                iframe
                {width: 200px;
                    height: 150px;
                display: block;}
            
            .hero{
                background-size: 65em;
                font-size: .75em;
                padding: 2em;}
            header{
                display:inline-block;
                padding: 0;
                margin-top: 0px;
                width: 100%;
            }
        
            .button{font-size: small;
            height: 1em;
            margin-left: .5em;
            margin-right: .5em;
            display: block;
            text-align: center;
            margin-top: .5em;
            margin-bottom: 0;}
            
            .nav{margin-top: 0;
            margin-bottom: .5em;}

            .header-logo
            {height: 9em;
            padding: .5em;}

            iframe{width: 375px;
                height: 250px;
            display: block;}

            h3 {
                font-size: small;
            }

            .intro{
                display: block;
                max-height:max-content;
            }
            .cards
            {display: block;
                align-content: center;}
            }

            @media (min-width: 431px) and (max-width: 600px) 
            { iframe
                {width: 400px;
                    height: 300px;
                display: block;}
                header{
                    display:inline-block;
                    padding: 0;
                    margin-top: 0px;
                    width: 100%;}

                    .button{font-size: small;
                        height: 1em;
                        margin-left: .5em;
                        margin-right: .5em;
                        display: block;
                        text-align: center;
                        margin-top: .5em;
                        margin-bottom: 0;}
                        
                        .nav{margin-top: 0;
                        margin-bottom: .5em;}
            
                        .header-logo
                        {height: 8em;
                        padding: .5em;}
        
                    iframe{width: 375px;
                        height: 250px;
                    display: block;}

                    .hero
                    {background-size: 40rem;
                        font-size: 1.5rem;;
                    padding: .5em;}

                    h1 
                    {font-size: 1.87rem;}
        
                    h4 
                    {font-size: 20px;}
                     .logocirc
                     {margin-bottom: 1em;
                    display: block;}
        
                    h3{font-size: 1.2rem;}
                    }
        
                    .intro{
                        display: block;
                        max-height:max-content;
                    }
                    .cards
                    {display: block;
                        align-content: center;}
                
            @media (min-width: 600px) and (max-width: 768px) {  
            .intro{
                display: block;}

            .hero
            {background-size: 50rem;
                font-size: 2rem;
            padding: 2rem;}
            h1 
            {font-size: 1.87rem;}
            
            header{
                display:inline-block
            }
            h4 
            {font-size: 20px;}
             .logocirc
             {margin-bottom: 1em;
            display: block;}

            h3{font-size: 1.2rem;}

            .nav{margin-bottom: .5em;}

            .card
            {margin-bottom: 1em;}

            .cards
            {display: block;
                align-content: center;}

            iframe
            {width: 550px;
                height: 300px;
            display: block;}

            .intropic
            { height: 300px;
            margin-left: 50px;}
            

            @media (min-width:770px) and (max-width:820px){
                .cards
                {display: block;
                    align-content: center;}
                .intropic{
                    height: 300px;
                }
                iframe
                {width: 600px;
                    height: 425px;
                display: block;}
                .hero
                    {background-size: 75rem;
                        font-size:2rem;
                    padding: 2rem;}

                .nav{
                    float: right;
                    display: inline;
            
                    
                }
        
                
                }
                .header-logo
                        {height: 7em;
                        padding: 1em;}}
               
            

            @media (min-width:821px) and (max-width:912px){
    .cards
{display: grid;
grid-template-columns: 33% 33% 33%;}
                    .intropic{
                        height: 330px;
                    }
                    .hero
                    {background-size: 75rem;
                        font-size:2.5rem;
                    padding: 3.5rem;}
                    h3{
                        font-size: 1.87rem;
                    }
            }

            @media (min-width:914px) and (max-width:1024px){
                .intropic{height: 350px;}
                .cards
                {display: grid;
                grid-template-columns: 33% 33% 33%;}
                .hero
                {background-size: 75rem;
                    font-size:3rem;
                padding: 3rem;}
                h3{
                    font-size: 1.87rem;
                }
            }

            @media (min-width:1025px) and (max-width:1280px){
                .hero
                {background-size: 90rem;
                    font-size:3rem;
                padding: 5rem;}
                .cards
                {display: grid;
                grid-template-columns: 33% 33% 33%;}
            }